
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header{
  width: 100vw;
  height: 2rem;
  background-color: #b9c5f3;
}


.Content{
  height: calc(100vh - 4rem - 8px);
  margin-top: 4px;
  margin-bottom: 4px;

}

.Container {
  height: 100%;
}



footer{
  height: 2rem;
  width: 100vw;
  background-color: #b9c5f3;
}
a {
  font-weight: 50;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f1f1f1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
aside{
  background-color: transparent;
  width: 15%;
  height: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



/* 
===================================
   Styles that are general for all files ↓
=================================== 
*/

body{
  background-color: #f1f1f1;
}
header{
  height: 2rem;
  width: 100vw;
  background-color: #b9c5f3;
}

/* This line below removes decoration for hyperlinks and such
*/
a {
  color: inherit;
  text-decoration: inherit;
}
/* The calculation calculates 100% of the screen -the size of the header
  and footer, and also minus the margins
*/
.main{
  height: calc(100vh - 4rem - 8px);
  margin-top: 4px;
  margin-bottom: 4    px;
}
footer{
  height: 2rem;
  width: 100vw;
  background-color: #b9c5f3;
}
/* Makes the object that has this class round around the edges, and
 adds a border.
*/
.rounder{
  background-color: white;
  border-radius: 0.5rem;
  border-color: #b9c5f3;
  border-style:solid;
}

.btn {
  background-color: #b9c5f3;
  border-color: #b9c5f3;
  color: black;
}
/* 
===================================
 Styles that are exclusive for GameBoard ↓
=================================== 
*/

.gameboard {
  background-color: white;
  height: 74%;
  display: flex;
  flex-direction: column;
}
.buttoncontainer{
  height: 100%;
  background-color: white;
}

.scorecontainer{
  display: flex;  
  align-items: baseline ;     
  justify-content: space-between;  
  width: 100%;    
  font-size: 1.5rem;
  padding-left: 2%;
  padding-right: 2%;
  flex-wrap: wrap;
}

.choicecontainer{
  display: flex;  
  align-items: center ;     
  justify-content: space-between;  
  width: 100%;    
  font-size: 3rem;
  padding-left: 15%;
  padding-right: 15%;
  flex: 1;
  flex-wrap: wrap;
}

/* 
===================================
 Styles that are exclusive for index/homepage ↓
=================================== 
*/

.homepage-article, .homepage-section {
  background-color: white;
  border-radius: 10px;
  height:49%;
}

/* We use this to more cleanly split a section in 2 vertical halves */
.homepage-half-section {
  height: 49%;
  width : 100%;
  flex-direction: column;
}