body{
    background-color: #f1f1f1;
}
header{
    height: 2rem;
    width: 100vw;
    background-color: #b9c5f3;
}
a {
    color: inherit;
    text-decoration: inherit;
  }
.main{
    height: calc(100vh - 4rem - 8px);
    margin-top: 4px;
    margin-bottom: 4px;
}
footer{
    height: 2rem;
    width: 100vw;
    background-color: #b9c5f3;
}
.rounder{
    background-color: white;
    border-radius: 0.5rem;
    border-color: #b9c5f3;
    border-style:solid;
}
.gameboard {
    background-color: white;
    height: 74%;
}
.buttoncontainer{
    height: 100%;
    background-color: white;
}
.btn {
    background-color: #b9c5f3;
    border-color: #b9c5f3;
    color: black;
}
/* 
===================================
   Homepage Style ↓
=================================== 
*/

.homepage-header {
}

.homepage-article, .homepage-section {
    background-color: white;
    border-radius: 10px;
    height:49%;
}

.homepage-article{

}

.homepage-section{
}

.homepage-footer {

}

/* We use this to more cleanly split a section in 2 vertical halves */
.homepage-half-section {
    height: 50%;
    width : 100%;
    flex-direction: column;
}