body{
    background-color: #f1f1f1;
}
header{
    height: 5vh;
    width: 100vw;
    margin-bottom: 5vh;
    background-color: aquamarine;

}
.main{
    height: 80vh;
}
footer{
    height: 5vh;
    width: 100vw;
    margin-top: 5vh;
    background-color: blueviolet;
}


.rounder{
    background-color: white;
    border-radius: 0.5rem;
    border-color: hotpink;
    border-style:dashed;
}
.gameboard{
    height: 62vh;
    margin-bottom: 2vh;
    background-color: white;
}
.buttoncontainer{
    height: 16vh;
    background-color: white;
}
